.contact{
    background:white;
    height:150vh;
    margin-top: 100px;

}
.contact-text{
padding-left: 100px;
padding-right: 100px;
}

.form-box{
    margin-top:30px;
    min-width: 700px;
    margin-left:400px;
}
.form-box form{
   display: flex;
   flex-direction: column;

}
.form-box form h3{
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 20px;

}
.contact-box{
    margin-left:100px;
    margin-top: 30px;
}
   .contact-box h3{
    
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.form-box form input[type="submit"]{
    max-width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    
}
.form-box form input[type="submit"]:hover{
    color: black;
    border: 1px solid black;
}
.contact-box .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.contact-box .box .text h3{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}
.content{
    display: flex;
    justify-content: space-between;
}
.hr{
    margin-left: 400px;
    margin-bottom: 150px;
}
.visit{
margin:200px;
}
.visit-texts{
    padding:50px;
    margin-top: 30px;

}
.contact-img{
    height: 400px;
    width: 400px;
    border-radius: 100px;
}